// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
$font-stack:    Helvetica, sans-serif;
$roboto-slab: 'Roboto Slab', serif;
$open-sans: 'Open Sans', sans-serif;
// header {
//   font: 100% Helvetica, sans-serif;
//   color: #333;
// }
main {
  font: 180% $open-sans;
  padding: 25px;
  margin-left: 250px;
  margin-right: 250px;
  background-color: rgba(251, 226, 201, 0.67);
}

.container-fluid {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(63, 191, 191, 0.1);

}

h1 {
  font: 600% $roboto-slab;
}

body {
  background-image: url("seattle.jpg");
  background-size: cover;
  // font: 180% $open-sans;
}

.row {
  margin-top: 20px;
}

.results {
  background-color: #FFFFFF;
}
